RedirectMatch /pdfs/netea-tournament-pack.pdf /pdfs/netea-tournament-pack.pdf
RedirectMatch /pdfs/netea-faq.pdf /pdfs/netea-faq.pdf
RedirectMatch /pdfs/bfg-chaos-berzerker-fleet.pdf /pdfs/bfg-chaos-berzerker-fleet.pdf
RedirectMatch /pdfs/bfg-chaos-black-crusade.pdf /pdfs/bfg-chaos-black-crusade.pdf
RedirectMatch /pdfs/bfg-chaos-incursion.pdf /pdfs/bfg-chaos-incursion.pdf
RedirectMatch /pdfs/bfg-chaos-plaguefleet.pdf /pdfs/bfg-chaos-plaguefleet.pdf
RedirectMatch /pdfs/bfg-chaos-pleasurefleet.pdf /pdfs/bfg-chaos-pleasurefleet.pdf
RedirectMatch /pdfs/bfg-chaos-sorcerous-fleet.pdf /pdfs/bfg-chaos-sorcerous-fleet.pdf
RedirectMatch /pdfs/bfg-eldar-corsairs.pdf /pdfs/bfg-eldar-corsairs.pdf
RedirectMatch /pdfs/bfg-eldar-craftworld.pdf /pdfs/bfg-eldar-craftworld.pdf
RedirectMatch /pdfs/bfg-imperial-armageddon-sector.pdf /pdfs/bfg-imperial-armageddon-sector.pdf
RedirectMatch /pdfs/bfg-imperial-bakka-sector.pdf /pdfs/bfg-imperial-bakka-sector.pdf
RedirectMatch /pdfs/bfg-imperial-bastion-fleets.pdf /pdfs/bfg-imperial-bastion-fleets.pdf
RedirectMatch /pdfs/bfg-imperial-gothic-sector.pdf /pdfs/bfg-imperial-gothic-sector.pdf
RedirectMatch /pdfs/bfg-ork-pirates.pdf /pdfs/bfg-ork-pirates.pdf
